--- 
layout: default 
title:  Stratosphere
---

{% if page.jumbotron %}{% include jumbotron.html jumbotron=page.jumbotron %}{% endif %}

<div class="jumbotron masthead text-center">
  <h1>Stratosphere</h1>
  <p style="padding-bottom:2em">Big Data looks tiny from here.</p>
  <p>
    <a href="https://github.com/stratosphere/stratosphere/archive/master.zip" onclick="_gaq.push(['_trackEvent','Action','download-src',this.href]);" class="btn btn-info btn-lg" style="width:10em">
      <i class="icon-download"> </i>Download
    </a>
    <a href="https://github.com/stratosphere/stratosphere" target="_blanc" onclick="_gaq.push(['_trackEvent','Action','github',this.href]);" class="btn btn-primary btn-lg">
      <i class="icon-github"> </i>View on GitHub
    </a>
  </p>
</div>
<div class="summit">
  <div class="container">
    <p><strong>Discover the power of Big Data Analytics.</strong></p>
    <p>Register for the <a href="{{ site.baseurl }}/events/2013/summit.html">Stratosphere Summit</a> on Nov. 14-15th!</p>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="icon-file-alt"></i> Easy to Install </h3>
        <p>Download and run Stratosphere programs in less than 5 minutes.</p>
      </div>
      <div class="col-md-4">
        <h3><i class="icon-code"></i> Easy to Use </h3>
        <p>Beauty of Scala programming: specify what you want out of the data, not how the job is executed.</p>
      </div>
      <div class="col-md-4">
        <h3><i class="icon-rocket"></i> Advanced Analytics </h3>
        <p>Iterative, arbitrarily large programs with multiple inputs and outputs.
</p>
      </div>
      <div class="col-md-4">
        <h3><i class="icon-cloud"></i> Run in the Cloud </h3>
        <p>Instantly deploy Stratosphere on Amazon's EC2 and run your data analysis in the cloud.</p>
      </div>
      <div class="col-md-4">
        <h3><i class="icon-rotate-left"></i> Performace </h3>
        <p>Scale out to large clusters, exploit multi-core processors and in-memory processing.</p>
      </div>
      <div class="col-md-4">
        <h3><i class="icon-puzzle-piece"></i> Empowering Data Scientists </h3>
        <p>Our optimizer automatically parallelizes and optimizes your programs.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <h1>Getting started</h1>
    <h1>Scala Interface</h1>
    <h1>Iterative Algorithms</h1>
    <h1>Explore more Features</h1>
</div> -->
