--- 
layout: default 
title:  Above the Clouds
---


{% include jumbotron.html %}

<div class="container">

	<h1>Bootstrap starter template</h1>

	<p class="lead">
		Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.
	</p>

	<ul class="posts">
		{% for post in site.posts %}
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> {% endfor %}
	</ul>

</div>
<!-- /.container -->