<footer class="bs-footer">
	<div class="container">

		<p style="text-align: center;">
			<a href="http://www.tu-berlin.de">
				<img style="width: 55px; height: 40px; border-width: 0px; border-style: solid; margin: 0 0.5em;" src="{{ site.baseurl }}/img/logo/TUBerlin-logo.svg" alt="Tu Berlin">
			</a>
			<a href="http://www.hu-berlin.de/">
				<img style="width: 41px; height: 40px; border-width: 0px; border-style: solid; margin: 0 0.5em;" src="{{ site.baseurl }}/img/logo/HU-logo.svg" alt="HU Berlin">
			</a>
			<a href="http://www.hpi.uni-potsdam.de/">
				<img style="width: 40px; height: 40px; border-width: 0px; border-style: solid; margin: 0 0.5em;" src="{{ site.baseurl }}/img/logo/HPI-logo.png" alt="HPI">
			</a>
		</p>

		<p>This project is funded by the DFG as FOR 1306.</p>

		<ul class="footer-links">
			<li><a href="{{ site.baseurl }}/disclaimer">Disclaimer</a></li>
			<li class="muted">&middot;</li>
			<li><a href="http://twitter.com/#!/stratosphere_eu">Twitter</a></li>
			<li class="muted">&middot;</li>
			<li><a href="http://www.youtube.com/user/StratosphereEu">Youtube</a></li>
		</ul>
	</div>
</footer>