---
layout:        default
smooth_scroll: true
---

<!-- call to action jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1>{{ page.title }}</h1>
		{% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
		{% if page.teaser_text %}<p>{{ page.teaser_text }}</p>{% endif %}
	</div>
</div>

<div class="container">

	<div class="subnav" id="navbar-inner">
		<ul class="nav nav-pills">
		{% for link in page.links %}
		 <li><a href="#{{ link.anchor }}">{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
	
	<div>
		{{ content }}
	</div>
	
</div>
<!-- /.container -->
