---
layout: default
links:
  # Section: General
  - { section: true, anchor: "general", title: "General"}
  - { anchor: "faq", title: "FAQ" }
  # Section: Setup & Configuration
  - { section: true, anchor: "setup", title: "Setup &amp; Configuration"}
  - { anchor: "local", title: "Local Setup" }
  - { anchor: "cluster", title: "Cluster Setup" }
  - { anchor: "yarn", title: "Stratosphere on YARN" }
  - { anchor: "config", title: "Configuration" }
  # Section: Programming Guides
  - { section: true, anchor: "programming_guides", title: "Programming Guides"}
  - { anchor: "java", title: "Java API"}
  - { anchor: "scala", title: "Scala API"}
  - { anchor: "iterations", title: "Iterations"}
  - { anchor: "spargel", title: "Spargel"}
  - { anchor: "examples", title: "Examples"}
  - { anchor: "pmodel", title: "Programming Model"}
  - { anchor: "meteorql", title: "Meteor Query Language"}	
  # Section: Program Execution
  - { section: true, anchor: "program_execution", title: "Program Execution"}
  - { anchor: "local_executor", title: "Local Executor/Debugging"}
  - { anchor: "remote_executor", title: "Remote Excecutor"}
  - { anchor: "cli_client", title: "Commandline Client"}
  - { anchor: "web_interface", title: "Web Interface"}
#  # Section: Internals
#  - { section: true, anchor: "internals", title: "Internals"}
#  - { anchor: "dev", title: "Development"}
#  - { anchor: "pact", title: "PACT Runtime"}
#  - { anchor: "nephele", title: "Nephele Execution Engine"}
version: 0.4
---
{% assign current_section = nil %}
<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-md-3">
      <div data-spy="affix" data-offset-top="40" data-offset-bottom="150">
        <ul class="nav sidenav sidenav-md sidenav-col-md3">
{% for link in page.links %}
{% if link('section')? %}
{% assign current_section = link.anchor %}
          <li class="section"><a href="{{ site.baseurl }}/docs/{{ page.version }}/{{ link.anchor }}">{{ link.title }}</a></li>
{% else %}
  {% capture current_link %}{{ site.baseurl }}/docs/{{ page.version }}/{{ current_section }}/{{ link.anchor }}.html{% endcapture %}
  {% if page.url contains current_link %}
    {% if page('sublinks')? %}
      <li class="subsection active"><a href="{{ current_link }}"><i class="icon-chevron-down"></i> {{ link.title }}</a>
        <div id="scrollspy">
          <ol class="nav">
          {% for sublink in page.sublinks %}
            <li class="subsubsection"><a href="#{{ sublink.anchor }}">{{ forloop.index }}. {{ sublink.title }}</a></li>
          {% endfor %}
          </ol>
        </div>
      </li>
    {% else %}
      <li class="subsection active"><a href="{{ current_link }}"><i class="icon-chevron-right"></i> {{ link.title }}</a></li>
    {% endif %}
  {% else %}
    <li class="subsection"><a href="{{ current_link }}"><i class="icon-chevron-right"></i> {{ link.title }}</a></li>
  {% endif %}
{% endif %}
{% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      {% if page.url != "/docs/{{ page.version }}/index.html" %}
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}/docs/0.4/">Documentation (0.4)</a></li>
        {% for link in page.links %}
        {% if page.url contains link.anchor %}
          {% if link('section')? %}
          {% assign current_section = link.anchor %}
          <li><a href="{{ site.baseurl }}/docs/{{ page.version }}/{{ link.anchor }}/">{{ link.title }}</a></li>
          {% else %}
          <li><a href="{{ site.baseurl }}/docs/{{ page.version }}/{{ current_section }}/{{ link.anchor }}.html">{{ link.title }}</a></li>
          {% endif %}
        {% endif %}
        {% endfor %}
      </ol>
      {% endif %}
      <p class="text-right"><a href="https://github.com/stratosphere/stratosphere/blob/gh-pages{{page.url | replace: '.html', '.markdown'}}">
          <button type="button" class="btn btn-success btn-xs"><i class="icon-edit"></i> Edit this page</button>
        </a>
      </p>
      <div id="docs_v04">
      {{ content }}
      </div>
      <hr>
      <h3>User Comments</h3>
      {% include comment_box.html %}
    </div>
  </div>
</div>
